In [37]:
import numpy as np
import pandas as pd

In [38]:
df=pd.read_csv(r"C:\Users\ramvi\Downloads\adult_dataset-1 - adult_dataset-1.csv")
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,"£4,356.00",40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,"£4,356.00",18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,"£4,356.00",40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,"£3,900.00",40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,"£3,900.00",40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,£0.00,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,£0.00,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,£0.00,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,£0.00,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,£0.00,20,United-States,<=50K

#

# DEALS WITH NOISES

In [39]:
df=df[(df!="?").all(axis=1)]
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,"£4,356.00",18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,"£3,900.00",40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,"£3,900.00",40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,"£3,770.00",45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,"£3,770.00",40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,£0.00,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,£0.00,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,£0.00,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,£0.00,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,£0.00,20,United-States,<=50K

In [40]:
df[["capital.gain","capital.loss","hours.per.week"]].dtypes

capital.gain       int64
capital.loss      object
hours.per.week     int64
dtype: object

In [41]:
df["capital.loss"]=df["capital.loss"].str.replace(",",'')

C:\Users\ramvi\AppData\Local\Temp\ipykernel_31156\2094878408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["capital.loss"]=df["capital.loss"].str.replace(",",'')

In [42]:
# # WE NEED TO JUST DELAS WITH CAPITAL LOSS ONLY
# df["capital.loss"].str.extract("(\d+)")

In [43]:
# df["capital.loss"].apply(lambda x: re.sub(r'[^\d.]', '', str(x)))

In [44]:
import re

df["capital.loss"]=df["capital.loss"].apply(lambda x: re.sub(r'[^-\d.]',"",str(x)))
df["capital.loss"]=pd.to_numeric(df["capital.loss"])

C:\Users\ramvi\AppData\Local\Temp\ipykernel_31156\3975589537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["capital.loss"]=df["capital.loss"].apply(lambda x: re.sub(r'[^-\d.]',"",str(x)))
C:\Users\ramvi\AppData\Local\Temp\ipykernel_31156\3975589537.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["capital.loss"]=pd.to_numeric(df["capital.loss"])

#

In [45]:
# CHECK THE NULL VALUES AND DEAL WITH THEM
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      1
hours.per.week    0
native.country    0
income            0
dtype: int64

In [46]:
df=df.dropna()

#

# ENCODE THE DATAFRAME

In [47]:
# IMPORT ENCODER
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [48]:
# ENCODE THE DATAFRAME

col = [x for x in df.columns if df[x].dtypes==object]

for c in col:
    df[c]=le.fit_transform(df[c])

C:\Users\ramvi\AppData\Local\Temp\ipykernel_31156\3288553370.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[c]=le.fit_transform(df[c])

In [49]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,2,2500,11,9,6,3,1,4,0,0,4356.0,18,38,0
3,54,2,2970,5,4,0,6,4,4,0,0,3900.0,40,38,0
4,41,2,12346,15,10,5,9,3,4,0,0,3900.0,40,38,0
5,34,2,9726,11,9,0,7,4,4,0,0,3770.0,45,38,0
6,38,2,3705,0,6,5,0,4,4,1,0,3770.0,40,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,2,14204,15,10,4,10,1,4,1,0,0.0,40,38,0
32557,27,2,12029,7,12,2,12,5,4,0,0,0.0,38,38,0
32558,40,2,3964,11,9,2,6,0,4,1,0,0.0,40,38,1
32559,58,2,3786,11,9,6,0,4,4,0,0,0.0,40,38,0
32560,22,2,8485,11,9,4,0,3,4,1,0,0.0,20,38,0

#

# SPLIT THE DATA INTO TRAIN AND TARGET

In [50]:
# GET THE TARGET AND TRAIN DATASET
x = df.drop("income",axis=1).values
y = df.income.values

In [51]:
# SPLIT INTO TRAIN AND TEST
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=2)

#

# LOGISTICK REGRESION

In [52]:
# CALL THE MODEL
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()

In [53]:
# TRAIN THE MODEL
log.fit(xtrain,ytrain)

C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [54]:
log

LogisticRegression()

#

In [55]:
# PREDICT THE TARGET 
ypredlog = log.predict(xtest)
ypredlog

array([0, 1, 0, ..., 1, 0, 0])

#

In [56]:
# CHECK THE ACCURACY
from sklearn.metrics import roc_auc_score
roc_auc_score(ytest,ypredlog)

0.6615815805119043

#

In [57]:
# PRINT THE CONFUSION METRICS AND CLASSIFICATION REPORT

from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,ypredlog)

array([[4298,  243],
       [ 930,  562]], dtype=int64)

In [58]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypredlog))

              precision    recall  f1-score   support

           0       0.82      0.95      0.88      4541
           1       0.70      0.38      0.49      1492

    accuracy                           0.81      6033
   macro avg       0.76      0.66      0.68      6033
weighted avg       0.79      0.81      0.78      6033

#

#

# DECISION TREE

In [59]:
# CALL THE MODEL
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()

In [60]:
# TRAIN THE MODEL
dc.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [61]:
dc

DecisionTreeClassifier()

#

In [62]:
# PRIDICT THE TARGET
ypreddc = dc.predict(xtest)

#

In [63]:
# PRINT THE ACCURACY
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypreddc)

0.8087187137410907

#

In [64]:
# PRINT CLASSIFICATION REPORT AND CONFUSION METRICS
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,ypreddc)

array([[3939,  602],
       [ 552,  940]], dtype=int64)

In [65]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypreddc))

              precision    recall  f1-score   support

           0       0.88      0.87      0.87      4541
           1       0.61      0.63      0.62      1492

    accuracy                           0.81      6033
   macro avg       0.74      0.75      0.75      6033
weighted avg       0.81      0.81      0.81      6033

#

In [66]:
# # PRINT THE TREE DIAGRAM
# from sklearn import tree
# import matplotlib.pyplot  as plt

# plt.figure(figsize = (20,20))
# tree.plot_tree(dc)
# plt.show()

#

#

# RANDOM FOREST

In [67]:
# CREATE HYPERPARAMETER

random_grid = {
    "n_estimators" : [10,20,30,40],
    "max_features" : ["sqrt","log2"],
    "max_depth"    : [5,6,7,8],
    "criterion"    : ["gini","entrop"],
    "min_samples_split" : [3,4,5]
}

In [68]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

#

In [70]:
# GET THE BEST PARAM
from sklearn.model_selection import RandomizedSearchCV
rcv = RandomizedSearchCV(estimator=rf,param_distributions=random_grid,cv=5,n_iter=25,n_jobs=-1)

In [71]:
# TRAIN THE MODEL FOR BEST PARAM
rcv.fit(xtrain,ytrain)

C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
60 fits failed out of a total of 125.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'entrop'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ramvi\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.84213369 0.84917931        nan        nan 0.84698277
        nan 0.84934508 0.85009107 0.84818454 0.84830897        nan
        nan 0.8464854  0.84864055 0.84859897 0.8505469  0.85054698
        nan        nan        nan        nan        nan 0.84345995
        nan]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=25,
                   n_jobs=-1,
                   param_distributions={'criterion': ['gini', 'entrop'],
                                        'max_depth': [5, 6, 7, 8],
                                        'max_features': ['sqrt', 'log2'],
                                        'min_samples_split': [3, 4, 5],
                                        'n_estimators': [10, 20, 30, 40]})

#

In [74]:
# PRIDICT THE TARGET
rcv.best_params_

{'n_estimators': 30,
 'min_samples_split': 4,
 'max_features': 'sqrt',
 'max_depth': 8,
 'criterion': 'gini'}

#

In [75]:
# FINAL  MODEL FOR PRIDICTION
fn_forest = RandomForestClassifier(n_estimators=30,min_samples_split=4,max_features="sqrt",max_depth=8,criterion="gini")

In [77]:
# TRAIN THE FN MODEL
fn_forest.fit(xtrain,ytrain)

RandomForestClassifier(max_depth=8, max_features='sqrt', min_samples_split=4,
                       n_estimators=30)

#

In [79]:
# PRIDICT THE TARGET
ypred_rf = fn_forest.predict(xtest)

#

In [80]:
# CHECK THE ACCURACY
accuracy_score(ytest,ypred_rf)

0.8571191778551301